# Binaries
*.exe
*.dll
*.so
*.dylib

# Go
backend/learning.db
backend/vendor/

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
*.log
*.tmp
